.oberyn {
	background: url('oberyn-excedrin.png') -10px -10px no-repeat;
	width: 80rem;
	height: 50rem;
	position: relative;
	z-index: -1;
}

.text {
	background: rgba(0,0,0,0.5);
	width: 57rem;
	height: 8.5rem;
	display: inline-block;
	position: absolute;
	bottom: 4rem;
	margin: 0;
	padding: 0;
	z-index: 1;
}

.text p {
	color: rgb(225,225,225);
	font-weight: 700;
	font-family: Helvetica, Arial, 'Sans serif';
	font-size: 1.15em;
	text-align: right;
	margin-right: 4rem;
}

.text p.one {

}

.excedrin {
	background: url('oberyn-excedrin.png') -23px -888px no-repeat;
	width: 26rem;
	height: 12.5rem;
	display: inline-block;
	position: absolute;
	bottom: 2rem;
	right: 0;
	margin: 0;
	padding: 0;
	z-index: 2;
}